.col-center-block{float:none;display:block;margin-left:auto;margin-right:auto;}
html,body,.container{height:100%;width:100%;}
.container{display:table;vertical-align:middle;}
.vertical-center-row{display:table-cell;vertical-align:middle;}
.login-widget{padding:50px;border-radius:10px;padding:30px;}
div.input-group div.input-group-addon{font-size:25px;padding-right:5px;}

/*
.login-screen-bg{background-color:#EFEFEF;}
.panel-git h3{color:#fff;}
.panel-git .panel-heading {background-color:#829aa8;}
.panel-git{border:1px solid #d8dee2;}
*/